<a href="https://colab.research.google.com/github/bab81/AI-Algorithms/blob/main/8_Pandas_Basics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Pandas - Open-source data analysis and manipulation tool<br>
Documentation Link: [https://pandas.pydata.org/](https://pandas.pydata.org/)

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
print("Numpy version=",np.__version__)
print("Pandas Version=",pd.__version__)

Numpy version= 1.21.6
Pandas Version= 1.3.5

# Series

##Series from Array

In [ ]:
np.random.seed(100)
grades=np.random.randint(30,100,(5,3))
grades

array([[38, 54, 97],
       [78, 40, 82],
       [83, 96, 44],
       [64, 54, 45],
       [90, 88, 46]])

In [ ]:
type(grades)

numpy.ndarray

In [ ]:
grades[:,1] #all rows, 1th column.

array([54, 40, 96, 54, 88])

In [ ]:
pd.Series(grades[:,1]) #combination of index and numbers

0    54
1    40
2    96
3    54
4    88
dtype: int64

In [ ]:
Physics=pd.Series(grades[:,0], ['john','victoria','leon', 'Alex' , 'Sara']) #create custom index.
#pd.Series(data=grades[:,2], index=['john','victoria','leon', 'Alex' , 'Sara'])
Physics

john        38
victoria    78
leon        83
Alex        64
Sara        90
dtype: int64

In [ ]:
type(Physics)

pandas.core.series.Series

In [ ]:
Physics[1]

78

In [ ]:
Physics['john']

38

In [ ]:
Physics.index

Index(['john', 'victoria', 'leon', 'Alex', 'Sara'], dtype='object')

In [ ]:
Physics.index[1]

'victoria'

##Series from Dictionary

In [ ]:
pd.Series({'John':20, 'Sara':100, 'Victoria':100})

John         20
Sara        100
Victoria    100
dtype: int64

##Why Series?

In [ ]:
grades

array([[38, 54, 97],
       [78, 40, 82],
       [83, 96, 44],
       [64, 54, 45],
       [90, 88, 46]])

In [ ]:
names=['john','victoria','leon', 'Alex' , 'Sara']

In [ ]:
Physics=pd.Series(data=grades[:,0], index=names)
Math=pd.Series(data=grades[:,1], index=names)

In [ ]:
print(Physics)
print(Math)

john        38
victoria    78
leon        83
Alex        64
Sara        90
dtype: int64
john        54
victoria    40
leon        96
Alex        54
Sara        88
dtype: int64

In [ ]:
(Physics+Math)/2

john        46.0
victoria    59.0
leon        89.5
Alex        59.0
Sara        89.0
dtype: float64

In [ ]:
Physics['leon']=None #None is "no value"
Math['victoria']=None
print (Physics)
print(Math)

john        38.0
victoria    78.0
leon         NaN
Alex        64.0
Sara        90.0
dtype: float64
john        54.0
victoria     NaN
leon        96.0
Alex        54.0
Sara        88.0
dtype: float64

In [ ]:
(Physics+Math)/2

john        46.0
victoria     NaN
leon         NaN
Alex        59.0
Sara        89.0
dtype: float64

In [ ]:
Physics.add(Math, fill_value=0) #subtract, multiply, divide. Fill NaN with 0.

john         92.0
victoria     78.0
leon         96.0
Alex        118.0
Sara        178.0
dtype: float64

In [ ]:
Physics.add(Math, fill_value=0)/2 #subtract, multiply, divide

john        46.0
victoria    39.0
leon        48.0
Alex        59.0
Sara        89.0
dtype: float64

#DataFrame

In [ ]:
grades

array([[38, 54, 97],
       [78, 40, 82],
       [83, 96, 44],
       [64, 54, 45],
       [90, 88, 46]])

In [ ]:
pd.DataFrame(data=grades)

    0   1   2
0  38  54  97
1  78  40  82
2  83  96  44
3  64  54  45
4  90  88  46

In [ ]:
pd.DataFrame(data=grades,index=['john','victoria','leon', 'Alex' , 'Sara'],columns=['Physics','Math','Chemistry'])

          Physics  Math  Chemistry
john           38    54         97
victoria       78    40         82
leon           83    96         44
Alex           64    54         45
Sara           90    88         46

In [ ]:
Class_of_2030=pd.DataFrame(grades,['john','victoria','leon', 'Alex' , 'Sara'],['Math','Physics','Chemistry'])
Class_of_2030 #index and columns labels are optional.

          Math  Physics  Chemistry
john        38       54         97
victoria    78       40         82
leon        83       96         44
Alex        64       54         45
Sara        90       88         46

In [ ]:
type(Class_of_2030)

pandas.core.frame.DataFrame

In [ ]:
Class_of_2030['Physics']['leon']=None  #Column is specified first, then Row
Class_of_2030

          Math  Physics  Chemistry
john        38     54.0         97
victoria    78     40.0         82
leon        83      NaN         44
Alex        64     54.0         45
Sara        90     88.0         46

In [ ]:
type(Class_of_2030)

pandas.core.frame.DataFrame

In [ ]:
Class_of_2030.columns

Index(['Math', 'Physics', 'Chemistry'], dtype='object')

In [ ]:
Class_of_2030.index

Index(['john', 'victoria', 'leon', 'Alex', 'Sara'], dtype='object')

In [ ]:
Class_of_2030.info()

<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, john to Sara
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Math       5 non-null      int64
 1   Physics    4 non-null      float64
 2   Chemistry  5 non-null      int64
dtypes: float64(1), int64(2)
memory usage: 332.0+ bytes

In [ ]:
Class_of_2030.describe()

            Math    Physics  Chemistry
count   5.000000   4.000000   5.000000
mean   70.600000  59.000000  62.800000
std    20.562101  20.428738  24.953958
min    38.000000  40.000000  44.000000
25%    64.000000  50.500000  45.000000
50%    78.000000  54.000000  46.000000
75%    83.000000  62.500000  82.000000
max    90.000000  88.000000  97.000000

###Selection/Slicing

In [ ]:
Class_of_2030

          Math  Physics  Chemistry
john        38     54.0         97
victoria    78     40.0         82
leon        83      NaN         44
Alex        64     54.0         45
Sara        90     88.0         46

In [ ]:
Class_of_2030['Math']

john        38
victoria    78
leon        83
Alex        64
Sara        90
Name: Math, dtype: int64

In [ ]:
Class_of_2030[['Math','Physics']]

          Math  Physics
john        38     54.0
victoria    78     40.0
leon        83      NaN
Alex        64     54.0
Sara        90     88.0

In [ ]:
Class_of_2030[['Math','Physics']][2:4] # to get only 2th row until (4-1)th row

      Math  Physics
leon    83      NaN
Alex    64     54.0

In [ ]:
Class_of_2030[['Math','Physics']].loc[['victoria','leon']] #to use 'keys' to reference the rows.

          Math  Physics
victoria    78     40.0
leon        83      NaN

In [ ]:
Class_of_2030[['Physics','Math']]

          Physics  Math
john         54.0    38
victoria     40.0    78
leon          NaN    83
Alex         54.0    64
Sara         88.0    90

In [ ]:
Class_of_2030[['Physics','Math']][Class_of_2030['Math']>=50] #to get all columns for records with a certain one-column criterion

          Physics  Math
victoria     40.0    78
leon          NaN    83
Alex         54.0    64
Sara         88.0    90

In [ ]:
Class_of_2030[['Physics','Math']][(Class_of_2030['Math']>=50) & (Class_of_2030['Math']<90) ]
#AND &
#OR |

          Physics  Math
victoria     40.0    78
leon          NaN    83
Alex         54.0    64

### Index Index Index

In [ ]:
Class_of_2030

          Math  Physics  Chemistry
john        38     54.0         97
victoria    78     40.0         82
leon        83      NaN         44
Alex        64     54.0         45
Sara        90     88.0         46

In [ ]:
Class_of_2030.index

Index(['john', 'victoria', 'leon', 'Alex', 'Sara'], dtype='object')

In [ ]:
print(Class_of_2030['Physics'].loc['Alex'])
print(Class_of_2030['Physics'][3])

54.0
54.0

In [ ]:
Class_of_2030=Class_of_2030.reset_index() # moved the custom index to a new column
Class_of_2030

      index  Math  Physics  Chemistry
0      john    38     54.0         97
1  victoria    78     40.0         82
2      leon    83      NaN         44
3      Alex    64     54.0         45
4      Sara    90     88.0         46

In [ ]:
Class_of_2030.index

RangeIndex(start=0, stop=5, step=1)

In [ ]:
Class_of_2030['index']

0        john
1    victoria
2        leon
3        Alex
4        Sara
Name: index, dtype: object

In [ ]:
print(Class_of_2030['Physics'].loc['Alex']) #we get error because we changed the indexes to numerical indexes
print(Class_of_2030['Physics'][3])

KeyError: ignored

In [ ]:
Class_of_2030

      index  Math  Physics  Chemistry
0      john    38     54.0         97
1  victoria    78     40.0         82
2      leon    83      NaN         44
3      Alex    64     54.0         45
4      Sara    90     88.0         46

In [ ]:
Class_of_2030.columns

Index(['index', 'Math', 'Physics', 'Chemistry'], dtype='object')

In [ ]:
Class_of_2030.columns=['Names', 'Math', 'Physics', 'Chemistry']
Class_of_2030

      Names  Math  Physics  Chemistry
0      john    38     54.0         97
1  victoria    78     40.0         82
2      leon    83      NaN         44
3      Alex    64     54.0         45
4      Sara    90     88.0         46

In [ ]:
Class_of_2030.index

RangeIndex(start=0, stop=5, step=1)

###Add/Remove Record or Columns

In [ ]:
Class_of_2030

      Names  Math  Physics  Chemistry
0      john    38     54.0         97
1  victoria    78     40.0         82
2      leon    83      NaN         44
3      Alex    64     54.0         45
4      Sara    90     88.0         46

In [ ]:
#added row by providiing dictionary
Class_of_2030=Class_of_2030.append({'Names':'Marc', 'Math':70, 'Physics':80},ignore_index=True)

In [ ]:
Class_of_2030

      Names  Math  Physics  Chemistry
0      john    38     54.0       97.0
1  victoria    78     40.0       82.0
2      leon    83      NaN       44.0
3      Alex    64     54.0       45.0
4      Sara    90     88.0       46.0
5      Marc    70     80.0        NaN
6      Marc    70     80.0        NaN

In [ ]:
#added column
Class_of_2030['GPA']=(Class_of_2030['Math']+Class_of_2030['Physics']+Class_of_2030['Chemistry'])/3
Class_of_2030

      Names  Math  Physics  Chemistry        GPA
0      john    38     54.0       97.0  63.000000
1  victoria    78     40.0       82.0  66.666667
2      leon    83      NaN       44.0        NaN
3      Alex    64     54.0       45.0  54.333333
4      Sara    90     88.0       46.0  74.666667
5      Marc    70     80.0        NaN        NaN
6      Marc    70     80.0        NaN        NaN

In [ ]:
Class_of_2030['GPA']=(Class_of_2030['Math']+Class_of_2030['Physics'].fillna(0)+Class_of_2030['Chemistry'].fillna(0))/3
Class_of_2030

      Names  Math  Physics  Chemistry        GPA
0      john    38     54.0       97.0  63.000000
1  victoria    78     40.0       82.0  66.666667
2      leon    83      NaN       44.0  42.333333
3      Alex    64     54.0       45.0  54.333333
4      Sara    90     88.0       46.0  74.666667
5      Marc    70     80.0        NaN  50.000000
6      Marc    70     80.0        NaN  50.000000

In [ ]:
type((Class_of_2030['Math']+Class_of_2030['Physics']+Class_of_2030['Chemistry'])/3)

pandas.core.series.Series

In [ ]:
#np.round can be applied on pandas Series
Class_of_2030['GPA']=np.round((Class_of_2030['Math']+Class_of_2030['Physics'].fillna(0)+Class_of_2030['Chemistry'].fillna(0))/3,2) 
Class_of_2030

      Names  Math  Physics  Chemistry    GPA
0      john    38     54.0       97.0  63.00
1  victoria    78     40.0       82.0  66.67
2      leon    83      NaN       44.0  42.33
3      Alex    64     54.0       45.0  54.33
4      Sara    90     88.0       46.0  74.67
5      Marc    70     80.0        NaN  50.00
6      Marc    70     80.0        NaN  50.00

In [ ]:
#Remove a Row
Class_of_2030=Class_of_2030.drop(0)#based on index
Class_of_2030

      Names  Math  Physics  Chemistry    GPA
1  victoria    78     40.0       82.0  66.67
2      leon    83      NaN       44.0  42.33
3      Alex    64     54.0       45.0  54.33
4      Sara    90     88.0       46.0  74.67
5      Marc    70     80.0        NaN  50.00

In [ ]:
#Remove a Column
Class_of_2030=Class_of_2030.drop(['Math','Chemistry'],axis=1) #axis 1 for columns.

KeyError: ignored

In [ ]:
Class_of_2030=pd.DataFrame(grades,['john','victoria','leon', 'Alex' , 'Sara'],['Math','Physics','Chemistry'])
Class_of_2030

          Math  Physics  Chemistry
john        38       54         97
victoria    78       40         82
leon        83       96         44
Alex        64       54         45
Sara        90       88         46

In [ ]:
Class_of_2030.index

Index(['john', 'victoria', 'leon', 'Alex', 'Sara'], dtype='object')

In [ ]:
Class_of_2030['Mnumber']=None

In [ ]:
Class_of_2030

['M0', 'M1', 'M2', 'M3', 'M4']

In [ ]:
Class_of_2030=Class_of_2030.reset_index()
['M'+str(i) for i in Class_of_2030.index]

['M0', 'M1', 'M2', 'M3', 'M4']

In [ ]:

Class_of_2030.columns = ['Name', 'Math', 'Physics', 'Chemistry', 'Mnumber']

In [ ]:
#using list comprehension
Class_of_2030['Mnumber']=['M'+str(i) for i in Class_of_2030.index]
Class_of_2030

       Name  Math  Physics  Chemistry Mnumber
0      john    38       54         97      M0
1  victoria    78       40         82      M1
2      leon    83       96         44      M2
3      Alex    64       54         45      M3
4      Sara    90       88         46      M4

In [ ]:
#change index - set a custom index
Class_of_2030=Class_of_2030.set_index('Mnumber')
Class_of_2030

             Name  Math  Physics  Chemistry
Mnumber
M0           john    38       54         97
M1       victoria    78       40         82
M2           leon    83       96         44
M3           Alex    64       54         45
M4           Sara    90       88         46

In [ ]:
#drow a certain row
Class_of_2030.drop('M3')

             Name  Math  Physics  Chemistry
Mnumber
M0           john    38       54         97
M1       victoria    78       40         82
M2           leon    83       96         44
M4           Sara    90       88         46

In [ ]:
Class_of_2030.drop(3) #We got error because drop uses index and index now is M1,M2....

KeyError: ignored